# ============================================================
# Windows Development Environment
# ใช้: pip install -r requirements.txt
# ============================================================
opencv-python
ultralytics>=8.1.0
numpy>=1.24.0,<2.0.0
lapx>=0.5.1
onnx
onnxscript
onnxsim
transformers
torch>=2.0.0
torchvision
# ONNX Runtime
onnxruntime-gpu